html, body {
    height: 100%;
}
.navbar {
    border-radius: 0;
}
.sidebar {
    background-color: #F5F5F5;
    margin-top: -20px;
    padding: 20px;
    height: 100%;
}

.nav-sidebar {
    margin-left: -20px;
    margin-right: -20px;
}

.nav-sidebar > li {
    border-top: 1px solid #4087d1;
    border-bottom: 1px solid #4087d1;
}

.nav-pills > li > a{
    border-radius: 0px;
}