<ul class="nav nav-pills nav-stacked nav-sidebar">
    {% for command in commands.commands %}
        <li role="presentation" class="active">
            <a href="javascript:void(0)">
                {{ command.name }}
                <span class="sr-only">(current)</span>
            </a>
        </li>
    {% endfor %}
</ul>